body
{
  background-color: chocolate;
}
h1 a {

  color: aquamarine;;
}
ul {
    list-style-type:none;

    margin: 0;
    margin-top: 30px;
    padding: 0;
    background-color:navajowhite;


  }
  li  {
    display: inline;
  }

  li a {
    display: inline-block;
    
   
    color:black;
    padding: 8px 16px;
    text-decoration:double;
    font-size: 30px;

   
  }
   

  li a.active {
    background-color:blueviolet;
    color: white;
  }

  .header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color:black;
    font-size: 30px;
  }